:root {
  --base-black: #000000;
  --base-white: #FFFFFF;
  --chart-1: #5B82DA;
  --chart-2: #B962A5;
  --chart-3: #C8682F;
  --chart-4: #7B9218;
  --chart-5: #009A97;
  --color-accent: #E5EEFF;
  --color-accent-foreground: #01002E;
  --color-background: #F1F5FA;
  --color-border: #C4CAD3;
  --color-card: #E3E8EE;
  --color-card-foreground: #080D14;
  --color-chart-1: #5B82DA;
  --color-chart-2: #B962A5;
  --color-chart-3: #C8682F;
  --color-chart-4: #7B9218;
  --color-chart-5: #009A97;
  --color-danger: #B91C1C;
  --color-danger-foreground: #FFFFFF;
  --color-foreground: #080D14;
  --color-info: #3685BD;
  --color-info-foreground: #000000;
  --color-input: #A3ABB6;
  --color-muted: #C4CAD3;
  --color-muted-foreground: #4B5563;
  --color-popover: #E3E8EE;
  --color-popover-foreground: #080D14;
  --color-primary: #0284C7;
  --color-primary-foreground: #000000;
  --color-primary-hover: #5E8FFF;
  --color-ring: #3A6FF5;
  --color-scrim: #010307;
  --color-secondary: #C4CAD3;
  --color-secondary-foreground: #080D14;
  --color-sidebar: #E3E8EE;
  --color-sidebar-accent: #E5EEFF;
  --color-sidebar-accent-foreground: #01002E;
  --color-sidebar-border: #C4CAD3;
  --color-sidebar-foreground: #080D14;
  --color-sidebar-primary: #3A6FF5;
  --color-sidebar-primary-foreground: #000000;
  --color-sidebar-ring: #3A6FF5;
  --color-success: #15803D;
  --color-success-foreground: #FFFFFF;
  --color-warning: #B45309;
  --color-warning-foreground: #FFFFFF;
  --danger-50: #FFE8E4;
  --danger-100: #FFD4CE;
  --danger-200: #FFA69B;
  --danger-300: #F47366;
  --danger-400: #D8473E;
  --danger-500: #B91C1C;
  --danger-600: #900007;
  --danger-700: #650002;
  --danger-800: #3D0000;
  --danger-900: #1E0000;
  --danger-950: #0F0000;
  --duration-base: 200ms;
  --duration-fast: 150ms;
  --duration-slow: 300ms;
  --elevation-card-blur: 2px;
  --elevation-card-color: #060E18;
  --elevation-card-offset-x: 0px;
  --elevation-card-offset-y: 1px;
  --elevation-card-spread: 0px;
  --elevation-overlay-blur: 24px;
  --elevation-overlay-color: #060E18;
  --elevation-overlay-offset-x: 0px;
  --elevation-overlay-offset-y: 12px;
  --elevation-overlay-spread: 0px;
  --font-family-body: Atkinson Hyperlegible, Inter, sans-serif;
  --font-family-display: Atkinson Hyperlegible, Inter, sans-serif;
  --font-size-2xl: 25px;
  --font-size-3xl: 28px;
  --font-size-4xl: 32px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xl: 22px;
  --font-size-xs: 14px;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --info-50: #F8FCFF;
  --info-100: #E1F2FF;
  --info-200: #B1D9FA;
  --info-300: #86BCE6;
  --info-400: #5C9FD1;
  --info-500: #3685BD;
  --info-600: #0369A1;
  --info-700: #004A75;
  --info-800: #002E4C;
  --info-900: #00162B;
  --info-950: #000819;
  --motion-base: 200ms;
  --motion-fast: 150ms;
  --neutral-50: #F1F5FA;
  --neutral-100: #E3E8EE;
  --neutral-200: #C4CAD3;
  --neutral-300: #A3ABB6;
  --neutral-400: #838C99;
  --neutral-500: #677180;
  --neutral-600: #4B5563;
  --neutral-700: #313A47;
  --neutral-800: #1A212C;
  --neutral-900: #080D14;
  --neutral-950: #010307;
  --primary-50: #F8FAFF;
  --primary-100: #E5EEFF;
  --primary-200: #BBD2FF;
  --primary-300: #8DB1FF;
  --primary-400: #5E8FFF;
  --primary-500: #3A6FF5;
  --primary-600: #1D4ED8;
  --primary-700: #062CB0;
  --primary-800: #010881;
  --primary-900: #01004E;
  --primary-950: #01002E;
  --radius-button: 4px;
  --radius-card: 6px;
  --radius-full: 9999px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --shadow-lg-blur: 24px;
  --shadow-lg-color: #060E18;
  --shadow-lg-offset-x: 0px;
  --shadow-lg-offset-y: 12px;
  --shadow-lg-spread: 0px;
  --shadow-md-blur: 8px;
  --shadow-md-color: #060E18;
  --shadow-md-offset-x: 0px;
  --shadow-md-offset-y: 4px;
  --shadow-md-spread: 0px;
  --shadow-sm-blur: 2px;
  --shadow-sm-color: #060E18;
  --shadow-sm-offset-x: 0px;
  --shadow-sm-offset-y: 1px;
  --shadow-sm-spread: 0px;
  --space-0: 0px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-8: 64px;
  --space-10: 80px;
  --space-12: 96px;
  --space-16: 128px;
  --space-component: 32px;
  --space-inline: 16px;
  --space-section: 80px;
  --success-50: #D6FDDD;
  --success-100: #C3F2CB;
  --success-200: #99D8A5;
  --success-300: #6CBA7E;
  --success-400: #409C5A;
  --success-500: #15803D;
  --success-600: #006129;
  --success-700: #004319;
  --success-800: #00270A;
  --success-900: #001001;
  --success-950: #000500;
  --text-body-font-family: Atkinson Hyperlegible, Inter, sans-serif;
  --text-body-font-size: 18px;
  --text-body-font-weight: 400;
  --text-body-letter-spacing: 0px;
  --text-body-line-height: 1.5;
  --text-caption-font-family: Atkinson Hyperlegible, Inter, sans-serif;
  --text-caption-font-size: 16px;
  --text-caption-font-weight: 400;
  --text-caption-letter-spacing: 0px;
  --text-caption-line-height: 1.4;
  --text-heading-font-family: Atkinson Hyperlegible, Inter, sans-serif;
  --text-heading-font-size: 25px;
  --text-heading-font-weight: 600;
  --text-heading-letter-spacing: 0px;
  --text-heading-line-height: 1.2;
  --warning-50: #FFF3ED;
  --warning-100: #FFE2D3;
  --warning-200: #FFBA95;
  --warning-300: #EB9363;
  --warning-400: #D07037;
  --warning-500: #B45309;
  --warning-600: #8B3C00;
  --warning-700: #622800;
  --warning-800: #3D1400;
  --warning-900: #210300;
  --warning-950: #120000;
}
