:root {
  --base-black: #000000;
  --base-white: #FFFFFF;
  --chart-1: #727CD9;
  --chart-2: #C25F93;
  --chart-3: #C16F0E;
  --chart-4: #639737;
  --chart-5: #0098A5;
  --color-accent: #EAEDFF;
  --color-accent-foreground: #040026;
  --color-background: #F2F5FC;
  --color-border: #C5CBD6;
  --color-card: #E4E8F0;
  --color-card-foreground: #0B0D13;
  --color-chart-1: #727CD9;
  --color-chart-2: #C25F93;
  --color-chart-3: #C16F0E;
  --color-chart-4: #639737;
  --color-chart-5: #0098A5;
  --color-danger: #CB262C;
  --color-danger-foreground: #FFFFFF;
  --color-foreground: #0B0D13;
  --color-info: #2367D3;
  --color-info-foreground: #FFFFFF;
  --color-input: #A5ABB8;
  --color-muted: #C5CBD6;
  --color-muted-foreground: #4F5662;
  --color-popover: #E4E8F0;
  --color-popover-foreground: #0B0D13;
  --color-primary: #6366F1;
  --color-primary-foreground: #000000;
  --color-primary-hover: #7D87FF;
  --color-ring: #6366F1;
  --color-scrim: #020306;
  --color-secondary: #C5CBD6;
  --color-secondary-foreground: #0B0D13;
  --color-sidebar: #E4E8F0;
  --color-sidebar-accent: #EAEDFF;
  --color-sidebar-accent-foreground: #040026;
  --color-sidebar-border: #C5CBD6;
  --color-sidebar-foreground: #0B0D13;
  --color-sidebar-primary: #6366F1;
  --color-sidebar-primary-foreground: #000000;
  --color-sidebar-ring: #6366F1;
  --color-success: #007B54;
  --color-success-foreground: #FFFFFF;
  --color-warning: #A66900;
  --color-warning-foreground: #FFFFFF;
  --danger-50: #FFF1EF;
  --danger-100: #FFDEDB;
  --danger-200: #FFB3AC;
  --danger-300: #FF7C74;
  --danger-400: #EF4444;
  --danger-500: #CB262C;
  --danger-600: #A00A19;
  --danger-700: #73000B;
  --danger-800: #480003;
  --danger-900: #250000;
  --danger-950: #110000;
  --duration-base: 200ms;
  --duration-fast: 150ms;
  --duration-slow: 300ms;
  --elevation-card-blur: 2px;
  --elevation-card-color: #080D17;
  --elevation-card-offset-x: 0px;
  --elevation-card-offset-y: 1px;
  --elevation-card-spread: 0px;
  --elevation-overlay-blur: 24px;
  --elevation-overlay-color: #080D17;
  --elevation-overlay-offset-x: 0px;
  --elevation-overlay-offset-y: 12px;
  --elevation-overlay-spread: 0px;
  --font-family-body: Inter, system-ui, sans-serif;
  --font-family-display: Inter, system-ui, sans-serif;
  --font-size-2xl: 25px;
  --font-size-3xl: 28px;
  --font-size-4xl: 32px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xl: 22px;
  --font-size-xs: 14px;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --info-50: #EAF2FF;
  --info-100: #D5E5FF;
  --info-200: #A5C8FF;
  --info-300: #6FA6FF;
  --info-400: #3B82F6;
  --info-500: #2367D3;
  --info-600: #104BA7;
  --info-700: #043279;
  --info-800: #001B4D;
  --info-900: #000927;
  --info-950: #000114;
  --motion-base: 200ms;
  --motion-fast: 150ms;
  --neutral-50: #F2F5FC;
  --neutral-100: #E4E8F0;
  --neutral-200: #C5CBD6;
  --neutral-300: #A5ABB8;
  --neutral-400: #868D9B;
  --neutral-500: #6B7280;
  --neutral-600: #4F5662;
  --neutral-700: #363B45;
  --neutral-800: #1E222A;
  --neutral-900: #0B0D13;
  --neutral-950: #020306;
  --primary-50: #FAFBFF;
  --primary-100: #EAEDFF;
  --primary-200: #C6CFFF;
  --primary-300: #A0ACFF;
  --primary-400: #7D87FF;
  --primary-500: #6366F1;
  --primary-600: #4946C9;
  --primary-700: #322A9A;
  --primary-800: #1D126A;
  --primary-900: #0C023E;
  --primary-950: #040026;
  --radius-button: 6px;
  --radius-card: 10px;
  --radius-full: 9999px;
  --radius-lg: 16px;
  --radius-md: 10px;
  --radius-sm: 6px;
  --shadow-lg-blur: 24px;
  --shadow-lg-color: #080D17;
  --shadow-lg-offset-x: 0px;
  --shadow-lg-offset-y: 12px;
  --shadow-lg-spread: 0px;
  --shadow-md-blur: 8px;
  --shadow-md-color: #080D17;
  --shadow-md-offset-x: 0px;
  --shadow-md-offset-y: 4px;
  --shadow-md-spread: 0px;
  --shadow-sm-blur: 2px;
  --shadow-sm-color: #080D17;
  --shadow-sm-offset-x: 0px;
  --shadow-sm-offset-y: 1px;
  --shadow-sm-spread: 0px;
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-component: 16px;
  --space-inline: 8px;
  --space-section: 40px;
  --success-50: #AFFFD8;
  --success-100: #87F7C4;
  --success-200: #54DAA2;
  --success-300: #10B981;
  --success-400: #009868;
  --success-500: #007B54;
  --success-600: #005C3E;
  --success-700: #003F29;
  --success-800: #002415;
  --success-900: #000E06;
  --success-950: #000401;
  --text-body-font-family: Inter, system-ui, sans-serif;
  --text-body-font-size: 18px;
  --text-body-font-weight: 400;
  --text-body-letter-spacing: 0px;
  --text-body-line-height: 1.5;
  --text-caption-font-family: Inter, system-ui, sans-serif;
  --text-caption-font-size: 16px;
  --text-caption-font-weight: 400;
  --text-caption-letter-spacing: 0px;
  --text-caption-line-height: 1.4;
  --text-heading-font-family: Inter, system-ui, sans-serif;
  --text-heading-font-size: 25px;
  --text-heading-font-weight: 600;
  --text-heading-letter-spacing: 0px;
  --text-heading-line-height: 1.2;
  --warning-50: #FFFBF7;
  --warning-100: #FFECD6;
  --warning-200: #FFC785;
  --warning-300: #F59E0B;
  --warning-400: #CB8100;
  --warning-500: #A66900;
  --warning-600: #7E4E00;
  --warning-700: #593500;
  --warning-800: #371E00;
  --warning-900: #1A0C00;
  --warning-950: #0A0300;
}
